<?xml version='1.0' encoding='UTF-8'?><XML>
  <settings thumbWidth="200" thumbHeight="300" thumbSpaceX="210" thumbSpaceY="310" maxThumbsRow="11" scrollOffset="30" errorOffset="100" bordersNormalColor="0xffffff" bordersRollOverColor="0x3399ff" normalBordersWidth="4" selectedBordersWidth="4" normalAlpha="0.8" rollAlpha="1"/>
  <item>
    <thumbnail>flashpic/1a.jpg</thumbnail>
    <file>flashpic/1.jpg</file>
    <type>image</type>
    <description><![CDATA[Images without a description will just hide the SHOW INFO button Images without a description will just hide the SHOW INFO buttonImages without a description will just hide the SHOW INFO buttonImages without a description will just hide the SHOW INFO buttonImages without a description will just hide the SHOW INFO buttonImages without a description will just hide the SHOW INFO button]]></description>
  </item>
  <item>
    <thumbnail>flashpic/2a.jpg</thumbnail>
    <file>../../001/videos/三枝夕夏 君と约束した优しいあの场所まで.flv</file>
    <type>video</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/003.swf</thumbnail>
    <file>flashpic/003.swf</file>
    <type>swf</type>
    <description><![CDATA[<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book]]></description>
  </item>
  <item>
    <thumbnail>flashpic/5a.jpg</thumbnail>
    <file>flashpic/5.jpg</file>
    <type>youtube</type>
    <description><![CDATA[Youtube test]]></description>
  </item>
  <item>
    <thumbnail>flashpic/6a.jpg</thumbnail>
    <file>flashpic/6.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/7a.jpg</thumbnail>
    <file>flashpic/7.jpg</file>
    <type>image</type>
    <description><![CDATA[Supports HTML Text - <b>bold</b>, <i>italic</i>, <font color="#FF0000">color</font>, <font size="20">size</font>  and images dirrectly from]]></description>
  </item>
  <item>
    <thumbnail>flashpic/8.jpg</thumbnail>
    <file>flashpic/8a.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/9.jpg</thumbnail>
    <file>flashpic/9a.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/10a.jpg</thumbnail>
    <file>flashpic/10.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/11a.jpg</thumbnail>
    <file>flashpic/11.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/12a.jpg</thumbnail>
    <file>flashpic/12.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/13a.jpg</thumbnail>
    <file>flashpic/13.jpg</file>
    <type>image</type>
    <description><![CDATA[Supports HTML Text - <b>bold</b>, <i>italic</i>, <font color="#FF0000">color</font>, <font size="20">size</font> ]]></description>
  </item>
  <item>
    <thumbnail>flashpic/14a.jpg</thumbnail>
    <file>flashpic/14.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/15a.jpg</thumbnail>
    <file>flashpic/15.jpg</file>
    <type>image</type>
    <description><![CDATA[Supports HTML Text - <b>bold</b>, <i>italic</i>, <font color="#FF0000">color</font>, <font size="20">size</font>  and images dirrectly from XML<br></br> ]]></description>
  </item>
  <item>
    <thumbnail>flashpic/16a.jpg</thumbnail>
    <file>flashpic/16.jpg</file>
    <type>image</type>
    <description><![CDATA[<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book]]></description>
  </item>
  <item>
    <thumbnail>flashpic/17a.jpg</thumbnail>
    <file>flashpic/17.jpg</file>
    <type>image</type>
    <description><![CDATA[Images without a description will just hide the SHOW INFO button]]></description>
  </item>
  <item>
    <thumbnail>flashpic/18a.jpg</thumbnail>
    <file>flashpic/18.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/19a.jpg</thumbnail>
    <file>flashpic/19.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/20a.jpg</thumbnail>
    <file>flashpic/20.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/003.swf</thumbnail>
    <file>flashpic/003.swf</file>
    <type>swf</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/21a.jpg</thumbnail>
    <file>flashpic/21.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/22a.jpg</thumbnail>
    <file>../../001/videos/松隆子_梦のしずく(梦的点滴).flv</file>
    <type>video</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/23a.jpg</thumbnail>
    <file>flashpic/23.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/24a.jpg</thumbnail>
    <file>flashpic/24.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/25a.jpg</thumbnail>
    <file>flashpic/25.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/004.swf</thumbnail>
    <file>flashpic/004.swf</file>
    <type>swf</type>
    <description><![CDATA[Supports HTML Text - <b>bold</b>, <i>italic</i>, <font color="#FF0000">color</font>, <font size="20">size</font>  and images dirrectly from XML<br></br> ]]></description>
  </item>
  <item>
    <thumbnail>flashpic/26a.jpg</thumbnail>
    <file>flashpic/26.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/27a.jpg</thumbnail>
    <file>flashpic/27.jpg</file>
    <type>image</type>
    <description><![CDATA[Supports HTML Text - <b>bold</b>, <i>italic</i>, <font color="#FF0000">color</font>, <font size="20">size</font>  and images dirrectly from XML<br></br>]]></description>
  </item>
  <item>
    <thumbnail>flashpic/9.jpg</thumbnail>
    <file>../../001/videos/三枝夕夏 眠る君の横顔に微笑みを.flv</file>
    <type>video</type>
    <description><![CDATA[<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book]]></description>
  </item>
  <item>
    <thumbnail>flashpic/28a.jpg</thumbnail>
    <file>flashpic/28.jpg</file>
    <type>image</type>
    <description><![CDATA[Images without a description will just hide the SHOW INFO button]]></description>
  </item>
  <item>
    <thumbnail>flashpic/29a.jpg</thumbnail>
    <file>flashpic/29.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/006.swf</thumbnail>
    <file>flashpic/006.swf</file>
    <type>swf</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/30a.jpg</thumbnail>
    <file>flashpic/30.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/006.swf</thumbnail>
    <file>flashpic/006.swf</file>
    <type>swf</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/1a.jpg</thumbnail>
    <file>flashpic/1.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/2a.jpg</thumbnail>
    <file>flashpic/2.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/001.swf</thumbnail>
    <file>flashpic/001.swf</file>
    <type>swf</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/11.jpg</thumbnail>
    <file>../../001/videos/Angie Vázquez翻唱Rolling In The Deep.mp4</file>
    <type>video</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/12.jpg</thumbnail>
    <file>flashpic/12.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/1.jpg</thumbnail>
    <file>flashpic/1.jpg</file>
    <type>image</type>
    <description><![CDATA[Supports HTML Text - <b>bold</b>, <i>italic</i>, <font color="#FF0000">color</font>, <font size="20">size</font>  and images dirrectly from XML<br></br> <img src="thumbs/1.jpg" border="3"></img>]]></description>
  </item>
  <item>
    <thumbnail>flashpic/13.jpg</thumbnail>
    <file>flashpic/12.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/1.jpg</thumbnail>
    <file>flashpic/1.jpg</file>
    <type>image</type>
    <description><![CDATA[Supports HTML Text - <b>bold</b>, <i>italic</i>, <font color="#FF0000">color</font>, <font size="20">size</font>  and images dirrectly from XML<br></br> <img src="thumbs/1.jpg" border="3"></img>]]></description>
  </item>
  <item>
    <thumbnail>flashpic/2.jpg</thumbnail>
    <file>flashpic/2.jpg</file>
    <type>image</type>
    <description><![CDATA[<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book]]></description>
  </item>
  <item>
    <thumbnail>flashpic/3.jpg</thumbnail>
    <file>flashpic/3.jpg</file>
    <type>image</type>
    <description><![CDATA[Images without a description will just hide the SHOW INFO button]]></description>
  </item>
  <item>
    <thumbnail>flashpic/4.jpg</thumbnail>
    <file>flashpic/4.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/5.jpg</thumbnail>
    <file>flashpic/5.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/6.jpg</thumbnail>
    <file>flashpic/6.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/7.jpg</thumbnail>
    <file>flashpic/7.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/8.jpg</thumbnail>
    <file>flashpic/8.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/9.jpg</thumbnail>
    <file>flashpic/9.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/10.jpg</thumbnail>
    <file>flashpic/10.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/11.jpg</thumbnail>
    <file>flashpic/11.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/12.jpg</thumbnail>
    <file>flashpic/12.jpg</file>
    <type>image</type>
    <description><![CDATA[]]></description>
  </item>
  <item>
    <thumbnail>flashpic/1.jpg</thumbnail>
    <file>flashpic/1.jpg</file>
    <type>image</type>
    <description><![CDATA[Supports HTML Text - <b>bold</b>, <i>italic</i>, <font color="#FF0000">color</font>, <font size="20">size</font>  and images dirrectly from XML<br></br> <img src="thumbs/1.jpg" border="3"></img>]]></description>
  </item>
</XML>