BODY {
	margin-left: 0px;
	margin-top: 0px;
	font-family: "ו";
	font-size: 12px;
	color: #666666;
}
TD {
	FONT-SIZE: 12px; COLOR: #525252; LINE-HEIGHT: 20px
}
A:link {
	COLOR: #525252; TEXT-DECORATION: none
}
A:visited {
	COLOR: #525252; TEXT-DECORATION: none
}
A:hover {
	COLOR: #31211a; TEXT-DECORATION: underline
}
.bigon {
	BORDER-RIGHT: #ffffff 1px solid;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	FLOAT: left;
	WIDTH: 14px;
	CURSOR: pointer;
	COLOR: #ffffff;
	LINE-HEIGHT: 14px;
	HEIGHT: 14px;
	BACKGROUND-COLOR: #d00009;
	TEXT-ALIGN: center;
	font-family: Arial;
}
.bigoff {
	BORDER-RIGHT: #ffffff 1px solid;
	FONT-SIZE: 11px;
	FLOAT: left;
	WIDTH: 14px;
	CURSOR: pointer;
	COLOR: #ffffff;
	LINE-HEIGHT: 14px;
	HEIGHT: 14px;
	BACKGROUND-COLOR: #014372;
	TEXT-ALIGN: center;
	font-family: Arial;
}
.fourpc {
	WIDTH: 225px; HEIGHT: 135px
}
.fourpc_case {
	BORDER-RIGHT: #8cadc4 1px solid; BORDER-TOP: #8cadc4 1px solid; BORDER-LEFT: #8cadc4 1px solid; BORDER-BOTTOM: #8cadc4 1px solid
}
